// BMR COLOR PALETTE

  // Primary

  $bmr-teal-light:              #3fc0b1;
  $bmr-teal:                    #31b314;
  $bmr-teal-dark:               #2ca496;

  $bmr-blue:                    #3792ed;
  $bmr-blue-light:              lighten($bmr-blue, 3%);
  $bmr-blue-dark:               darken($bmr-blue, 3%);

  $bmr-purple:                  #7b5fff;
  $bmr-purple-light:            lighten($bmr-purple, 3%);
  $bmr-purple-dark:             darken($bmr-purple, 3%);


  // Secondary

  $bmr-orange:                  #aaaaaa;
  $bmr-red:                     #aaaaaa;
  $bmr-green:                   #aaaaaa;
  $bmr-yellow:                  #aaaaaa;
  $bmr-white:                   #ffffff;


  // Darkscale

  $bmr-dark-100:                #1e2e44;
  $bmr-dark-80:                 #496174;
  $bmr-dark-60:                 #889eb0;
  $bmr-dark-40:                 #b7c8d7;
  $bmr-dark-20:                 #e6edf3;
  $bmr-dark-0:                  #f3f6fa;