---

---

<header class="c-top-section">
  <div class="o-container">
    <div class="o-grid">
      <h1 class="o-grid__item u-1/1 c-top-section__heading">Treat candidates like customers</h1>
      <h2 class="o-grid__item u-1/1 c-top-section__subheading">Beamery is Candidate Relationship software for companies that are proactive about engaging the best talent, and don’t just rely on applications.</h2>
      <div class="c-top-section__buttons">
        <button class="c-btn c-btn--primary">Text</button>
        <button class="c-btn c-btn--secondary">Text</button>
      </div>
    </div>
  </div>
</header>







<% content_for :page_scripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>
