---

---

<header class="c-top-section">
  <div class="o-container">
    <div class="o-grid">
      <h1 class="o-grid__item u-1/1">Treat candidates like customers</h1>
      <h2 class="o-grid__item u-1/1">Beamery is Candidate Relationship software for companies that are proactive about engaging the best talent, and don’t just rely on applications.
</h2>
    </div>
  </div>
</header>







<% content_for :page_scripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>
